
{% extends 'base.html' %}

{%block title%} Add Post {%endblock%}


{%block content%}

{% if user.is_authenticated %} <br><br>

<h1 style="font-family: Comfortaa;" class="text-center mt-5">Add New Post</h1>

<div class="container form-group">
    <form action="" method="post">
        {% csrf_token%}
        {{form.as_p}}
        <button class=" text-white font-weight-bold btn btn-block btn-warning mt-4 px-auto mb-5">Post</button>

    </form>
</div>

    <script>
        var name = "{{user.id}}";
        document.getElementById("username").value = name;
    </script>


{% else %}
You are not allowed here ! Please Login First
{% endif %}
{%endblock%}


