{% extends 'base.html' %}

{%block title%} Home {%endblock%}

{%block content%}
<h1 class="text-center">Post</h1>

<div class="container mt-5">
    {% for post in object_list %}
    <a style="color: black;text-decoration: none;font-family: Comfortaa;" href="{% url 'postDetail' post.pk  %}">
        <h3 style="color: #1b262c;">{{post.title}} </h3>
        <span><small><a style="color: black;text-decoration: none;" href="{% url 'category' post.category|slugify %}">{{post.category}}</a></small></span> </a>
    <p style="font-family: Muli;">{{post.body|slice:":200"}}...</p>
    <small style="font-family: Lemonada;">{{post.author}}</small>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href="{% url 'editPost' post.pk %}">Edit Post</a></small><br>
        {%endif%}
    {%endif%}
    <small>Created on :- {{post.post_date}}</small><br><br> <hr>
{%endfor%}
</div>

{%endblock%}